h1 {
    background-image: url(https://wallpapercave.com/wp/wp2402523.jpg);
    color: black;
}
body {
    background-color: whitesmoke;
}
.list {
    border: 10px;
    display: inline-block;
    margin: auto;
    margin-top: 10px;;
    padding: 2em;
}

